/*--------variables with colors-----------*/
:root {
	--element-color: #5A61ED;
	--font-color-white: #ffff;
	--font-color-black: #111111;
	--font-color-grey: #7C7C7C;
}
/*----------------------------------------*/